[{boss, [
    {path, "/home/sal/www/CB"},
    {vm_cookie, "abc123"},
    {applications, [eservices]},
    {db_host, "localhost"},
    {db_port, 5432},
    {db_adapter, pgsql},
    {db_username, "postgres"},
    {db_password, "ki3q03n1"},
    {db_database, "eservices"},
    {log_dir, "/home/sal/log/eservices"},
    {server, misultin},
    {port, 8002},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ eservices, [
    {path, "../eservices"},
    {base_url, "/"}
]}
].
